* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
  }
  
  .navbar {
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  .navbar a.navbar-brand {
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .navbar a.navbar-brand span {
    font-size: 28px;
    font-weight: 700;
    color: #ffc107
  }
  .navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
  }
  .navbar ul li {
    display: inline-block;
  }
  .navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
  }
  .navbar ul li a:hover {
    color: black;
    background-color: white; 

  }
  .navbar .navbar-toggler {
    display: none;
  }
  
  .intro {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(53, 53, 53, 0.4), rgba(230, 146, 37, 0.5)), url(../image/cool2.jpg) no-repeat center center;
    background-size: cover;
    background-color: #000;
  }


  @media (max-width: 991px) {
    .navbar ul {
      padding: 0 10px;
    }
    .navbar ul li a {
      min-width: 100px;
      padding: 0 20px;
    }
    
  }
  
  @media (max-width: 767px) {
    .navbar {
      padding: 0;
    }
    .navbar ul {
      width: 100%;
      padding: 0;
      background-color: rgba(0,0,0,0.9);
      height: 100vh;
      max-height: 0;
      overflow: hidden;
      transition: all ease-in-out 0.3s;
    }
    .navbar ul.open {
      max-height: 100vh;
    }
    .navbar ul li {
      width: 100%;
    }
    .navbar ul li a {
      padding: 0;
    }
    .navbar .navbar-toggler {
      display: block;
      position: absolute;
      height: 40px;
      top: 20px;
      right: 20px;
      background-color: transparent;
      color: #fff;
      border: 3px solid #fff;
      outline: none;
      padding: 0 5px;
      cursor: pointer;
    }
    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
      display: block;
      content: '';
      background-color: #fff;
      height: 3px;
      width: 28px;
      border-radius: 4px;
      transition: all ease-in-out 0.3s;
    }
    .navbar .navbar-toggler span::before {
      transform: translateY(-8px);
    }
    .navbar .navbar-toggler span::after {
      transform: translateY(5px);
    }
    
    .navbar .navbar-toggler.open-navbar-toggler span {
      background-color: transparent;

    }
    .navbar .navbar-toggler.open-navbar-toggler span::before {
      transform: translateY(0px) rotate(45deg);
      
    }
    .navbar .navbar-toggler.open-navbar-toggler span::after {
      transform: translateY(-3px) rotate(-45deg);
      
    }

    
  }

  .current{
      background: #ffc107;
  }
  /*****footer****/
footer{
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    color: white;
    background-color: black;
    width: 100%;
    bottom: 0;
    height: 35px;
    margin-top: 60px;
  }

  /****content part****/
    main{
        
        display: flex;
        flex-flow: column;
        color: #000;
    }
    .content{
       margin-top: 170px;
    }
    .hero{
        text-align: center;
   
        color: black;
    }
    .hero h1{
        font-size: 2.5em;
        font-weight: 600;
        color: #ffc107 ;
    }
    .hero h1 span{
      color: white;
    }
    .hero p {
        font-size: 1.2em;
        font-weight: 600;
        max-width: 500px;
        line-height: 1.8rem;
        margin: 3em auto;
        color: black;
    }
   
    .hero a{
        background: #ffc107;
        padding: 1em 3em;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        font-size: 1.37em;
        font-weight: 700;
        cursor: pointer;
    }
    .hero a:hover{
    color: #ffc107;
    background: white;
    }
/** NEW SIGN Up***/
.sign-up-form{
  width: 40%;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background: white;
  padding: 20px;
 margin: 160px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0;
  text-align: center;
  border-radius: 18px; 
}
.sign-up-form p a {
  text-decoration: none;
  color:#0772ff;
}
.sign-up-form h1 {
  color: #ffc107;
  margin-bottom: 30px;
}
.input-box{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 70%;
  border: 1px solid #999;
  outline: none;
}
.signup-btn a{
 text-decoration: none; 
color: rgb(255, 255, 255);
}
.signup-btn{
  color: white;
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffc107;
}
.signup-btn:hover{
  color: white;
  background: rgb(8, 115, 216);
}
.sign-up-body{
  background: linear-gradient(rgba(53, 53, 53, 0.4), rgba(230, 146, 37, 0.5)), url(../image/cool2.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/*** ALL ENTRIES ****/

section .entries{
  margin: 100px auto;
  position: relative;
  width: 80%;
  height: 100vh;  
}
.entries ul{
  position: relative;
  top: 38%;
  transform: translateY(-50%); 
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  
}
.entries ul li{
  list-style: none;
  box-sizing: border-box;
  height: 190px;
  margin: 15px 0;
  box-shadow: 0px 0px 1px 2px #ffc107;
  cursor: pointer;
  
}
.entries ul li .time{
  position: relative;
  padding: 20px;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: .2s;
}
.entries ul li:hover .time{
  background: #ffc107;
}
 .entries ul .time h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60px;
  line-height: 30px;
}
 .entries ul li .time h2 span {
  font-size: 30px;
}

.entries ul li .details {
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}
 .entries ul li .details h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}
 .entries ul li .details p {
  position: relative;
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;   
}
 .entries ul li .details a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid #02387e;
  border-radius: 15px;
  margin-top: 15px;
  font-size: 18px;
  transition: .2s;
}
.entries ul li .details a:hover{
  background: #ffc107;;
  color: white;
  border-color: #ffc107;;
}
.entries ul li .details .delete:hover{
  background: #e60d0d;
  color: white;
  border-color: #e60d0d;
}


@media (max-width: 991px){
  section{
      height: 100%;
      background-position: center;
  }
  section .leftBox{
      width: 100%;
      height: auto;
      float: none;
      padding: 20px;
  }
  section .entries {
      width: 100%;
      height: auto;
      background: transparent;
      float: none;
  }
  section .leftBox .content{
      padding: 20px;
  }
  section .leftBox .content h1{
      font-size: 30px;
  }
 .entries ul {
      position: relative;
      transform: translateY(0px);
      padding: 0 20px 20px;
      left: 0%;
  }
   .entries ul li {
      height: auto;
  }
  .entries ul li .time{
      width: 80px;
      height: 80px;
      padding: 0;
  }
   .entries ul li .time h2{
      font-size: 30px;
      line-height: 24px;
  }
  .entries ul li .time h2 span{
      font-size: 20px;
  }
   .entries ul li .details{
      width: 100%;
      float: none;
      padding-left: 100px;
  }
   .entries ul li .details a{
      padding: 5px 10px;
  }
  
}
/****MAIN  NEW ENTRY ****/
.container-entry{
  width: 60%;
  height: 70%;
  background: white;
  margin: 110px auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(72,98,85,0.6);
}
.container-entry p{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #486255;
  letter-spacing: 1px;
}
.response{
  width: 90%;

}
.input , .msg  .area {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s;
}
.msg .area {
  height: 150px;
}
.btn-entry {
  width: 45%;
  background: #ffc107;
  height: 50px;
  text-align: center;
  line-height: 50px;
    text-transform: uppercase;
  margin: 0  auto 10px auto ;
  cursor: pointer;
  border-radius: 5px;
}
.btn-entry:hover{
  color: white;
  background: rgb(8, 115, 216);
}
.input:focus, .msg .area:focus{
  border: 2px solid #ffc107;
}
.btn-entry a {
  text-decoration: none;
  color: white;
}
/* single entry */
.single{
  margin-top: 150px;
  text-align: center;
  color: black;
}
.single p {
  font-size: 1.2em;
        max-width: 500px;
        margin: 1em auto;
        color: black;
}
.single h2 {
  color: #ffc107;
}
.enry-date{
  font-size: 18px;
  font-weight: 100;
}
.single a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid #ffc107;
  color: black;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 18px;
  transition: .2s;
}
.single a:hover{
  background: #ffc107;;
  color: white;
  border-color: #ffc107;;
}
.single .delete:hover{
  background: #e60d0d;
  color: white;
  border-color: #e60d0d;
}

/****** pagging */
.pagging {
  position: absolute;
  width: 30%;
  left: 50%;
  top: 90%;
}
.pagging ul li a{
  text-decoration: none;
  color: black;
}
.pagging ul li {
  display: block;
  float: left;
  text-align: center;
  color: #2c2537;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 7px;
}
.pagging ul li.active {
  background-color: #2c2537;
}
.pagging ul li.active a{
  color:white;
}
.pagging:after {
  content: "";
  display: block;
  clear: both
}

